version: '3.8'

services:
  rabbitmq:
    container_name: store-rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks: # ← 이 2줄 추가
      - msa-network
  # zipkin
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - msa-network

  # MySQL Database
  mysql:
    image: mysql:8.0
    container_name: mysql-board
    restart: always
    ports:
      - "3309:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: store
      TZ: Asia/Seoul
    volumes:
      - ./db/mysql/data:/var/lib/mysql
    networks:
      - msa-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis
  redis:
    image: redis:latest
    container_name: msa-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - msa-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Discovery Gateway
  discovery:
    build:
      context: ./discovery-service
      dockerfile: Dockerfile
    image: store-discovery-service
    container_name: discovery-service
    restart: always
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - msa-network
  # API Gateway
  gateway:
    build:
      context: ./gate-way
      dockerfile: Dockerfile
    image: store-gateway
    container_name: gateway-service
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - msa-network
    depends_on:
      - member-service
      - order-service
      - product-service
    extra_hosts:
      - "host.docker.internal:host-gateway"
  # Member Service
  member-service:
    build:
      context: ./member
      dockerfile: Dockerfile
    image: store-member-service
    container_name: member-service
    restart: always
    ports:
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/store?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - PRODUCT_SERVICE_URL=http://product-service:8080
    networks:
      - msa-network
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # Order Service
  order-service:
    build:
      context: ./order
      dockerfile: Dockerfile
    image: store-order-service
    container_name: order-service
    restart: always
    ports:
      - "8082:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/store?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - MEMBER_SERVICE_URL=http://member-service:8080
    networks:
      - msa-network
    depends_on:
      mysql:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # Product Service
  product-service:
    build:
      context: ./product
      dockerfile: Dockerfile
    image: store-product-service
    container_name: product-service
    restart: always
    ports:
      - "8083:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/store?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    networks:
      - msa-network
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # Payment Service
  payment-service:
    build:
      context: ./payment
      dockerfile: Dockerfile
    image: store-payment-service
    container_name: payment-service
    restart: always
    ports:
      - "8084:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/store?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - PRODUCT_SERVICE_URL=http://product-service:8080
    networks:
      - msa-network
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
# 네트워크 정의
networks:
  msa-network:
    driver: bridge
    name: msa-network
