name: PR Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3306
          container port: 3306
          mysql database: 'store'
          mysql root password: ${{ secrets.MYSQL_PASSWORD }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.4.2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean --stacktrace --info build

      - name: Test with Gradle
        run: ./gradlew --info test

