name: CI/CD

on:
  push:
    branches:
      - '**'  # 모든 브랜치에서 push 이벤트 발생 시 실행
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle  # Gradle 캐시 사용

      ## application.yml 생성
      - name: Create application.yml
        run: |
          mkdir -p ./src/main/resources
          echo "${{ secrets.APPLICATION }}" > ./src/main/resources/application.yml
          cat ./src/main/resources/application.yml
      ## 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      ## Gradle 빌드 (테스트 제외)
      - name: Build with Gradle (without tests)
        run: ./gradlew build --exclude-task test

      ## Docker 빌드 및 푸시
      - name: Docker build & push to Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Start Redis
        uses: supercharge/redis-github-action@1.7.0
        with:
          redis-version: 7
          redis-port: 6380

      ## 테스트용 application.yml 생성
      - name: Create application.yml for tests
        run: |
          mkdir -p ./src/test/resources
          echo "${{ secrets.TEST_APPLICATION }}" > ./src/test/resources/application.yml
          cat ./src/test/resources/application.yml
      ## 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # Redis 상태 체크 전에 redis-tools 설치 추가
      - name: Install Redis CLI
        run: sudo apt-get update && sudo apt-get install -y redis-tools

      - name: Check Redis status
        run: redis-cli -h localhost -p 6380 ping || exit 1

      ## Gradle 테스트 실행
      - name: Run Tests
        run: ./gradlew test -i

      ## Gradle 빌드 (테스트 통과 후)
      - name: Build with Gradle
        run: ./gradlew build
