name: CI/CD

on:
  push:
    branches:
      - "*"

jobs:
  CICD:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      ## Create YML
      - run: |
          mkdir -p ./src/main/resources
          touch ./src/main/resources/application.yml
          echo "${{ secrets.APPLICATION }}" > ./src/main/resources/application.yml
          cat ./src/main/resources/application.yml

      ## Permission for gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      ## Build Gradle without running tests
      - name: Build with Gradle (without tests)
        run: ./gradlew build --exclude-task test

      ## Build and Push to Docker Hub
      - name: Docker build & push to Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker build -f Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }} . 
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}

  TEST:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      ## Create YML for test environment
      - run: |
          mkdir -p ./src/test/resources
          touch ./src/test/resources/application.yml
          echo "${{ secrets.TEST_APPLICATION }}" > ./src/test/resources/application.yml
          cat ./src/test/resources/application.yml

      ## Permission for gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      ## Run Tests
      - name: Run Tests
        run: ./gradlew test

      ## Build Gradle after tests
      - name: Build with Gradle
        run: ./gradlew build