name: Build and Deploy

on:
  push:
    branches:
      - cicd

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: actions/checkout@v3
      - run: |
          mkdir -p ./src/main/resources
          touch ./src/main/resources/application.yml
      - run: echo "${{ secrets.APPLICATION }}" > ./src/main/resources/application.yml
      - run: cat ./src/main/resources/application.yml

      - uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3306
          container port: 3306
          mysql database: 'store'
          mysql root password: ${{ secrets.MYSQL_PASSWORD }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.4.2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean --stacktrace --info build

      - name: Test with Gradle
        run: ./gradlew --info test

      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push Docker image
        run: |
          docker build -t teachd/store-ec2:latest .
          docker push teachd/store-ec2:latest

      - name: Set up EC2 key
        run: |
          echo "${{ secrets.EC2_KEY }}" > ec2-key.pem
          chmod 400 ec2-key.pem

      - name: Deploy to EC2
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
        run: |
          ssh -o StrictHostKeyChecking=no -i ec2-key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
          echo "version: '3.8'
          services:
            app:
              image: teachd/store-ec2:latest
              ports:
                - 8080:8080
              environment:
                SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/store
                SPRING_DATASOURCE_USERNAME: root
                SPRING_DATASOURCE_PASSWORD: test1234
              depends_on:
                - mysql
          
            mysql:
              image: mysql:8
              ports:
                - 3306:3306
              environment:
                MYSQL_DATABASE: store
                MYSQL_ROOT_PASSWORD: test1234" > docker-compose.yml
          docker-compose up -d --build
          EOF
